.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    margin:100px;
    border: 2px solid black;
}
.arriba{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.abajo{
    text-align: center;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: rgb(180, 202, 54);
    border: 2ps solid black;
    box-shadow: 5px 5px black;
}